<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <form onsubmit="fileUpload(this);return false;">
      <div class="mb-3">
        <label for="formFile" class="form-label"
          >Upload File</label
        >
        <input class="form-control" name="picture" type="file" id="formFile" />
      </div>
      <div>
          <button class="btn btn-primary" type="submit">Upload File</button>
      </div>
    </form>
    <script>
        async function fileUpload(formElement) {
            const formData = new FormData(formElement);
            try {
                const response = await fetch("http://localhost:3000/file-upload", {
                method: "POST",
                body: formData,
                dataType:"jsonp"
                });
            
                if (response.status === 200 || response.status === 201) {
                alert("successfully uploaded file");
                } else {
                alert("failed to upload");
                }
            } catch (e) {
                console.log(e);
                alert("some error occured while uploading file");
            }
        }
    </script>
  </body>
</html>